@model prelim_exam_jintalan_mikaela.Models.Movie

@{
    ViewData["Title"] = "Details";
}
<style>
    body {
        background-image: url('https://scontent.fmnl4-4.fna.fbcdn.net/v/t1.15752-0/p280x280/123739322_1338021103208201_1884640544343258589_n.jpg?_nc_cat=100&ccb=2&_nc_sid=ae9488&_nc_eui2=AeENMXCZIuIXQ6yTVV5BjTYrEY2uDAqZehgRja4MCpl6GBhLRpmnWPB63yTHNBWfO1faL0ZaqtZVxkEV5MYsnx6v&_nc_ohc=rPr_RMUHPnAAX9FHvqk&_nc_oc=AQkIW_2ZabFpCUwkPSAwGd9t-3NclhRTfckFng2aYF2b2D-WGfN1keKJOzcMln28RYM&_nc_ht=scontent.fmnl4-4.fna&tp=6&oh=b4e488dd8eff81f53ae303d834602c23&oe=5FC9EF71');
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-attachment: fixed;
        background-size: 100% 100%;
        background-color: #fea8f3;
    }
</style>
<h1>Details</h1>

<div>
    <h4>Movie</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ReleaseDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ReleaseDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Genre)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Genre)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Price)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Price)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Rating)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Rating)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>